select {
    z-index: 999;
    position: absolute;
}

.custom-select {

    top: 20px;
    display: flex;
    align-items: center;
}

.city-selector {
    display: flex;
}

.filtered-cities {
    color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 13%;
    z-index: 9999;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-top: none;
}

ul {

    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;

}

li {
    list-style: none;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
}

.dropdown {
    margin: 0;

}

.dropdown-icon{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}