<!-- <div class="city-selector">
  <div class="custom-select">
    <span (click)="toggleDropdown()">
      <mat-icon *ngIf="!showDropdown">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="showDropdown">keyboard_arrow_up</mat-icon>
    </span>
    <div class="selected-cities">
      <span *ngFor="let city of selectedCities">{{ city.nome }}, </span>
    </div>
    <div class="dropdown" *ngIf="showDropdown">
      <select multiple>
        <option *ngFor="let city of cities; let i = index" [value]="i" (click)="toggleSelection(i)">
          {{ city.nome }}
        </option>
      </select>
    </div>
  </div>
</div> -->

<div class="city-selector">
  <div class="custom-select">
    <span (click)="toggleDropdown()" class="dropdown-icon">
      <mat-icon *ngIf="!showDropdown">keyboard_arrow_right</mat-icon>
      <mat-icon *ngIf="showDropdown">keyboard_arrow_left</mat-icon>
    </span>
    <div class="selected-cities" *ngIf="showDropdown && filteredCities.length === 0">
      <span *ngFor="let city of selectedCities">{{cityInput ? city.nome : '' }}</span>
    </div>
    <div class="dropdown" *ngIf="showDropdown">
      <input placeholder="Digita il nome della città" [(ngModel)]="cityInput" (click)="stopPropagation($event)"
        (keyup)="filterCities()" />

      <div class="filtered-cities" *ngIf="filteredCities.length > 0">
        <ul>
          <li *ngFor="let city of filteredCities" (click)="selectCity(city)">
            {{ cityInput ? city.nome : '' }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>